extends template

block content
    h1 Welcome to Crimson Dorm Supplier
    form(style='text-align: center')
        h2 Buy Dorm Supplies
        input(type='text' name='name' placeholder='Name') 
        br
        input(type='email' name='email' placeholder='Email') 
        br
        input(type='password' name='password' placeholder='Password') 
        br
        input(type='text' name='address' placeholder='Address') 
        br
        input(type='number' name='classYear' placeholder='Class year') 
        br
        
        button(type='button' onclick='register()') Register

//- block postScript
//-     script submitOnEnterKey(submitForm);
